In [1]:
import pandas as pd

# 1

In [2]:
site_data = pd.read_csv("./OGP-master/all_sites_with_colnames.csv") 
save_name = "all_sites_group.csv"
sites_data = pd.read_csv(save_name)

In [3]:
site_data.head(19)

      name  site                                           sequence Unnamed: 3
0   A2ABU4   430  MTLPHSPGSAGEPQASQTVQVHRLEHRQEEEQKEERQHSLQMGSSV...        NaN
1   A2AGT5   568  MGDDSEWLKLPVDQKCEHKLWKARLSGYEEALKIFQKIKDEKSPEW...        NaN
2   A2AHJ4   264  MAAAPTQIEAELYYLIARFLQSGPCNKSAQVLVQELEEHQLIPRRL...        NaN
3   A2AHJ4   279  MAAAPTQIEAELYYLIARFLQSGPCNKSAQVLVQELEEHQLIPRRL...        NaN
4   A2AKB9    87  MFPFGPHSPGGDETAGAEEPPPLGGPAAASRPPSPAPRPASPQRGA...        NaN
5   A2AKB9    99  MFPFGPHSPGGDETAGAEEPPPLGGPAAASRPPSPAPRPASPQRGA...        NaN
6   A2AKB9   100  MFPFGPHSPGGDETAGAEEPPPLGGPAAASRPPSPAPRPASPQRGA...        NaN
7   A2AKB9   364  MFPFGPHSPGGDETAGAEEPPPLGGPAAASRPPSPAPRPASPQRGA...        NaN
8   E9Q1P8   208  MAAAVAVAAASRRQSCYLCDLPRMPWAMIWDFTEPVCRGCVNYEGA...        NaN
9   E9Q5G3   720  MKSAKAKTVRKPVIKKGSQTNLKDPVGVYCRVRPLSFPDQECCVEV...        NaN
10  F6T0L5   190  XSQCLGREDLGHLCVWNDGCRLRGPLQPLPGTCPAPEIRAIEPLSG...        NaN
11  F6TYF8   147  XNSKVTVPHMIKSDARLHKDDTDICFSKTLNSCKVPQIRYASVERL...        NaN
12  F6TYF8   148  XNSKVTVPHMIKSDARLHKDDTDICFSKTLNSCKVPQIRYASVERL...        NaN
13  O35161  2773  MAPSSPRVLPALVLLAAAALPALELGAAAWELRVPGGARAFALGPG...        NaN
14  O35161  2774  MAPSSPRVLPALVLLAAAALPALELGAAAWELRVPGGARAFALGPG...        NaN
15  O35161  2780  MAPSSPRVLPALVLLAAAALPALELGAAAWELRVPGGARAFALGPG...        NaN
16  O35161  2781  MAPSSPRVLPALVLLAAAALPALELGAAAWELRVPGGARAFALGPG...        NaN
17  O70263   581  MNQPDLADDPDPSPEPLCIVCGQNHSPEENHFYTYTEDVDDDLICH...        728
18  O70263   584  MNQPDLADDPDPSPEPLCIVCGQNHSPEENHFYTYTEDVDDDLICH...        728

In [4]:
sites_data.head(10)

,name,site,sequence
0,A2ABU4,[430],MTLPHSPGSAGEPQASQTVQVHRLEHRQEEEQKEERQHSLQMGSSV...
1,A2AGT5,[568],MGDDSEWLKLPVDQKCEHKLWKARLSGYEEALKIFQKIKDEKSPEW...
2,A2AHJ4,"[264, 279]",MAAAPTQIEAELYYLIARFLQSGPCNKSAQVLVQELEEHQLIPRRL...
3,A2AKB9,"[87, 99, 100, 364]",MFPFGPHSPGGDETAGAEEPPPLGGPAAASRPPSPAPRPASPQRGA...
4,E9Q1P8,[208],MAAAVAVAAASRRQSCYLCDLPRMPWAMIWDFTEPVCRGCVNYEGA...
5,E9Q5G3,[720],MKSAKAKTVRKPVIKKGSQTNLKDPVGVYCRVRPLSFPDQECCVEV...
6,F6T0L5,[190],XSQCLGREDLGHLCVWNDGCRLRGPLQPLPGTCPAPEIRAIEPLSG...
7,F6TYF8,"[147, 148]",XNSKVTVPHMIKSDARLHKDDTDICFSKTLNSCKVPQIRYASVERL...
8,O35161,"[2773, 2774, 2780, 2781]",MAPSSPRVLPALVLLAAAALPALELGAAAWELRVPGGARAFALGPG...
9,O70263,"[581, 584]",MNQPDLADDPDPSPEPLCIVCGQNHSPEENHFYTYTEDVDDDLICH...

# 2

In [5]:
who = sites_data['name']=='P24622_2'
display(sites_data[who])
length = sites_data[who]['sequence'].iloc[0]
print(f"length of protein P24622_2: {len(length)}")

        name   site                                           sequence
15  P24622_2  [185]  MDVTIQHPWFKRALGPFYPSRLFDQFFGEGLFEYDLLPFLSSTISP...

length of protein P24622_2: 173

In [6]:
who = sites_data['name']=='Q91YE8_2'
display(sites_data[who])
length = sites_data[who]['sequence'].iloc[0]
print(f"length of protein P24622_2: {len(length)}")

        name        site                                           sequence
82  Q91YE8_2  [990, 991]  MIPCSHQFSTICVLSPGLRRSESLSEKQVKEAKSKCKSIALLLTDA...

length of protein P24622_2: 757

# 3

In [7]:
save_path = './protein_sequence'
pro_name = 'A2AKB9'
save_name = f"{save_path}/{pro_name}.csv"

protein_data = pd.read_csv(save_name, index_col=0)
protein_data

,SEQ,positive,flexibility,SS,ASA,Phi,Psi,Theta(i-1=>i+1),Tau(i-2=>i+2),HSE_alpha_up,HSE_alpha_down,P(C),P(H),P(E)
"A2AKB9, [87, 99, 100, 364]",,,,,,,,,,,,,,
0,M,0,0.414,C,93.0,-108.1,138.5,121.7,-168.2,11.8,16.5,0.985,0.004,0.012
1,F,0,0.405,C,55.5,-105.9,136.0,121.0,-149.2,16.0,15.7,0.964,0.002,0.035
2,P,0,0.406,C,70.9,-68.6,-20.3,98.9,-114.0,10.1,17.4,0.977,0.007,0.017
3,F,0,0.420,C,79.8,-92.1,5.8,103.9,50.0,12.0,16.2,0.949,0.014,0.038
4,G,0,0.425,C,20.5,-179.7,178.3,129.2,122.5,13.1,18.2,0.946,0.001,0.053
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,Y,0,0.674,E,34.8,-109.2,134.4,119.6,-166.1,19.6,20.3,0.369,0.003,0.628
562,Q,0,0.636,C,74.6,-100.7,104.7,110.9,-133.7,9.9,24.4,0.780,0.004,0.216
563,P,0,0.560,C,31.3,-76.6,135.5,112.3,-142.4,20.6,14.4,0.935,0.007,0.058
564,K,0,0.514,C,115.6,-97.2,123.9,114.2,-144.8,7.6,18.6,0.921,0.004,0.075
565,F,0,0.486,C,114.0,-98.3,122.9,114.2,-164.2,12.9,12.1,0.997,0.000,0.003

# 4

In [34]:
save_name = f"data_for_ml_v1.csv"

data_for_ml = pd.read_csv(save_name, index_col=0)
display(data_for_ml)

,SEQ,positive,flexibility,SS,ASA,Phi,Psi,Theta(i-1=>i+1),Tau(i-2=>i+2),HSE_alpha_up,...,nAli,nPos,P_after,SS_angle,side-1,side1,side2,side3,side4,side5
0,T,0,0.384,C,103.3,-102.0,132.1,117.6,-150.0,3.8,...,0,0,False,alpha,normal,small,pro,cycle,small,pro
1,S,0,0.423,C,60.0,-87.4,138.5,115.2,-125.9,7.8,...,2,0,True,alpha,cycle,pro,gly,small,very small,gly
2,S,0,0.384,C,56.1,-89.9,142.4,116.8,121.2,8.2,...,1,0,False,alpha,gly,very small,gly,normal,pro,normal
3,S,0,0.570,C,75.5,-82.7,22.5,104.9,-107.4,5.9,...,2,0,False,other,very small,normal,small,very small,normal,very small
4,T,0,0.634,C,78.2,-96.3,112.1,112.0,84.6,5.8,...,1,0,False,alpha,normal,very small,normal,very small,cycle,long
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42815,T,0,0.696,C,76.2,-95.6,138.6,117.8,-135.9,8.8,...,2,0,False,alpha,very small,long,pro,very small,long,small
42816,T,0,0.653,C,58.2,-99.5,90.7,111.0,-161.6,11.6,...,2,0,False,other,long,gly,pro,small,long,pro
42817,T,0,0.603,C,80.3,-102.2,131.1,116.5,-164.4,7.0,...,2,1,False,alpha,long,normal,normal,small,long,small
42818,T,0,0.473,C,106.7,-91.4,100.3,109.1,-163.0,3.1,...,0,0,False,alpha,normal,long,small,0,0,0
42819,S,0,0.389,C,98.4,-91.9,113.0,110.0,100.4,2.1,...,0,1,0,alpha,long,0,0,0,0,0