In [1]:
import pandas as pd
import numpy as np

import time
from os import getcwd 
from os.path import exists

getcwd() # current working directory

version = 'v4'
update = False

In [2]:
load_name = "v4_data_all_sites.csv"
dataset = pd.read_csv(load_name)

positive_sites = dataset[dataset['positivity']==1]
negative_sites = dataset[dataset['positivity']==0]

print("total number of proteins:      ", len(dataset.protein.unique()))
print("total number of samples:       ", len(dataset))
print("total number of positive sites:", len(positive_sites))
print("total number of negative sites:", len(negative_sites))
display(dataset)

total number of proteins:       272
total number of samples:        257578
total number of positive sites: 529
total number of negative sites: 257049

,#,SEQ,SS,ASA,Phi,Psi,Theta(i-1=>i+1),Tau(i-2=>i+2),HSE_alpha_up,HSE_alpha_down,...,side_3,side_4,side_5,nAli,nPos,nS/nT,Proline,phi_psi,positivity,protein
0,1,M,C,112.7,-100.9,139.3,119.5,165.0,8.5,9.1,...,pro,cycle,small,0,0,3,0,alpha,0,A2ABU4
1,2,T,C,103.3,-102.0,132.1,117.6,-150.0,3.8,13.9,...,cycle,small,pro,0,0,3,0,alpha,0,A2ABU4
2,3,L,C,50.9,-97.8,134.7,118.5,-149.2,16.4,11.6,...,small,pro,gly,0,0,3,1,alpha,0,A2ABU4
3,4,P,C,77.2,-69.2,144.0,111.0,-105.3,7.5,16.7,...,pro,gly,small,1,0,3,0,alpha,0,A2ABU4
4,5,H,C,80.3,-95.4,141.5,118.6,-135.6,13.3,13.3,...,gly,small,very_small,2,0,3,0,alpha,0,A2ABU4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257573,2892,E,C,110.1,-95.9,129.5,114.1,-151.5,8.1,12.4,...,long,small,None,1,1,3,0,alpha,0,Q9Y520
257574,2893,E,C,129.9,-89.6,124.2,111.0,-140.1,5.4,11.0,...,small,None,None,0,0,3,0,alpha,0,Q9Y520
257575,2894,T,C,106.7,-91.4,100.3,109.1,-163.0,3.1,9.1,...,None,None,None,0,0,3,0,alpha,0,Q9Y520
257576,2895,K,C,160.4,-89.3,66.8,107.1,136.5,2.7,7.7,...,None,None,None,0,1,3,0,other,0,Q9Y520
257577,2896,S,C,98.4,-91.9,113.0,110.0,100.4,2.1,6.2,...,None,None,None,0,1,3,0,alpha,0,Q9Y520

In [3]:
display(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257578 entries, 0 to 257577
Data columns (total 27 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   #                257578 non-null  int64
 1   SEQ              257578 non-null  object
 2   SS               257578 non-null  object
 3   ASA              257578 non-null  float64
 4   Phi              257578 non-null  float64
 5   Psi              257578 non-null  float64
 6   Theta(i-1=>i+1)  257578 non-null  float64
 7   Tau(i-2=>i+2)    257578 non-null  float64
 8   HSE_alpha_up     257578 non-null  float64
 9   HSE_alpha_down   257578 non-null  float64
 10  P(C)             257578 non-null  float64
 11  P(H)             257578 non-null  float64
 12  P(E)             257578 non-null  float64
 13  flexibility      257578 non-null  float64
 14  side_-1          257578 non-null  object
 15  side_1           257578 non-null  object
 16  side_2           257578 non-null  object
 17  side_3           257578 non-null  object
 18  side_4           257578 non-null  object
 19  side_5           257578 non-null  object
 20  nAli             257578 non-null  int64
 21  nPos             257578 non-null  int64
 22  nS/nT            257578 non-null  int64
 23  Proline          257578 non-null  int64
 24  phi_psi          257578 non-null  object
 25  positivity       257578 non-null  int64
 26  protein          257578 non-null  object
dtypes: float64(11), int64(6), object(10)
memory usage: 53.1+ MB

None

In [4]:
x_cat = ['SEQ', 'SS']
x_cts = ['ASA', 'Phi', 'Psi', 'Theta(i-1=>i+1)', 'Tau(i-2=>i+2)', 'HSE_alpha_up', 'HSE_alpha_down', 
         'P(C)', 'P(H)', 'P(E)', 'flexibility']
y_label = ['positivity']

data_x = pd.get_dummies(dataset[x_cts+x_cat], columns=x_cat)
data_y = dataset[y_label]

print(data_x.shape)
print(data_y.shape)

print("\nx columns:")
display(pd.Series(data_x.columns))

(257578, 34)
(257578, 1)

x columns:

0                 ASA
1                 Phi
2                 Psi
3     Theta(i-1=>i+1)
4       Tau(i-2=>i+2)
5        HSE_alpha_up
6      HSE_alpha_down
7                P(C)
8                P(H)
9                P(E)
10        flexibility
11              SEQ_A
12              SEQ_C
13              SEQ_D
14              SEQ_E
15              SEQ_F
16              SEQ_G
17              SEQ_H
18              SEQ_I
19              SEQ_K
20              SEQ_L
21              SEQ_M
22              SEQ_N
23              SEQ_P
24              SEQ_Q
25              SEQ_R
26              SEQ_S
27              SEQ_T
28              SEQ_V
29              SEQ_W
30              SEQ_Y
31               SS_C
32               SS_E
33               SS_H
dtype: object

In [7]:
data_x

,ASA,Phi,Psi,Theta(i-1=>i+1),Tau(i-2=>i+2),HSE_alpha_up,HSE_alpha_down,P(C),P(H),P(E),...,SEQ_Q,SEQ_R,SEQ_S,SEQ_T,SEQ_V,SEQ_W,SEQ_Y,SS_C,SS_E,SS_H
0,112.7,-100.9,139.3,119.5,165.0,8.5,9.1,0.995,0.001,0.004,...,0,0,0,0,0,0,0,1,0,0
1,103.3,-102.0,132.1,117.6,-150.0,3.8,13.9,0.839,0.011,0.150,...,0,0,0,1,0,0,0,1,0,0
2,50.9,-97.8,134.7,118.5,-149.2,16.4,11.6,0.949,0.001,0.051,...,0,0,0,0,0,0,0,1,0,0
3,77.2,-69.2,144.0,111.0,-105.3,7.5,16.7,0.983,0.001,0.016,...,0,0,0,0,0,0,0,1,0,0
4,80.3,-95.4,141.5,118.6,-135.6,13.3,13.3,0.925,0.005,0.070,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257573,110.1,-95.9,129.5,114.1,-151.5,8.1,12.4,0.686,0.253,0.062,...,0,0,0,0,0,0,0,1,0,0
257574,129.9,-89.6,124.2,111.0,-140.1,5.4,11.0,0.713,0.227,0.061,...,0,0,0,0,0,0,0,1,0,0
257575,106.7,-91.4,100.3,109.1,-163.0,3.1,9.1,0.753,0.168,0.080,...,0,0,0,1,0,0,0,1,0,0
257576,160.4,-89.3,66.8,107.1,136.5,2.7,7.7,0.902,0.057,0.042,...,0,0,0,0,0,0,0,1,0,0
257577,98.4,-91.9,113.0,110.0,100.4,2.1,6.2,0.996,0.002,0.003,...,0,0,1,0,0,0,0,1,0,0

In [15]:
protein_list = list(dataset.protein.unique())
for name in protein_list:
    pass
dataset[dataset['protein']==name]

,#,SEQ,SS,ASA,Phi,Psi,Theta(i-1=>i+1),Tau(i-2=>i+2),HSE_alpha_up,HSE_alpha_down,...,side_3,side_4,side_5,nAli,nPos,nS/nT,Proline,phi_psi,positivity,protein
254682,1,M,C,155.0,-95.8,133.1,115.4,165.4,3.1,3.3,...,long,small,gly,0,0,4,0,alpha,0,Q9Y520
254683,2,S,C,103.7,-97.1,140.5,116.6,-157.5,1.4,3.8,...,small,gly,normal,0,0,4,0,alpha,0,Q9Y520
254684,3,E,C,151.2,-89.7,125.5,111.2,-135.5,2.9,7.7,...,gly,normal,small,0,0,4,0,alpha,0,Q9Y520
254685,4,K,C,151.6,-89.7,115.7,109.8,-160.5,3.5,6.9,...,normal,small,small,0,0,4,0,alpha,0,Q9Y520
254686,5,S,C,92.5,-87.4,115.3,109.1,-128.5,2.4,7.0,...,small,small,long,0,0,4,0,alpha,0,Q9Y520
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257573,2892,E,C,110.1,-95.9,129.5,114.1,-151.5,8.1,12.4,...,long,small,None,1,1,3,0,alpha,0,Q9Y520
257574,2893,E,C,129.9,-89.6,124.2,111.0,-140.1,5.4,11.0,...,small,None,None,0,0,3,0,alpha,0,Q9Y520
257575,2894,T,C,106.7,-91.4,100.3,109.1,-163.0,3.1,9.1,...,None,None,None,0,0,3,0,alpha,0,Q9Y520
257576,2895,K,C,160.4,-89.3,66.8,107.1,136.5,2.7,7.7,...,None,None,None,0,1,3,0,other,0,Q9Y520
257577,2896,S,C,98.4,-91.9,113.0,110.0,100.4,2.1,6.2,...,None,None,None,0,1,3,0,alpha,0,Q9Y520

In [6]:
# generate time series dataset

window_size = 10
window_len  = 2 * window_size + 1

ST_index = np.where((dataset['SEQ']=='S') | (dataset['SEQ']=='T'))[0]
ST_index

array([     1,      5,      8, ..., 257572, 257575, 257577], dtype=int64)

In [ ]:
rnn_input = []

In [5]:
from sklearn.model_selection import StratifiedShuffleSplit

def stratified_split(data_x, data_y, test_size=0.2, n_splits=1, random_state=1, dtype='arr'):

    split = StratifiedShuffleSplit(n_splits=n_splits, test_size=test_size, random_state=random_state)
    
    train_x, train_y, test_x, test_y  = [], [], [], []
    if dtype=='df':
        data_x = data_x.values
        data_y = data_y.values
    
    for train_index, test_index in split.split(data_x, data_y):
        train_x.append(data_x[train_index])
        train_y.append(data_y[train_index])

        test_x.append(data_x[test_index])
        test_y.append(data_y[test_index])
        
    print("train/test dataset")
    print("train:", train_x[0].shape, train_y[0].shape)
    print("test:", test_x[0].shape, test_y[0].shape)
    
    if n_splits == 1:
        return train_x[0],train_y[0], test_x[0], test_y[0]
    else:
        return train_x, train_y, test_x, test_y

In [6]:
### split data into train/test dataset ###
test_size = 0.2
n_splits = 10
random_state = 1

split = StratifiedShuffleSplit(n_splits=n_splits, test_size=test_size, random_state=random_state)
arr_x, arr_y = data_x.values, data_y.values # convert dataframe to nd-array 

i=1
train_idx_list, train_x_list, train_y_list, test_idx_list, test_x_list, test_y_list = [], [], [], [], [], []
for train_index, test_index in split.split(arr_x, arr_y):
    train_x = arr_x[train_index]
    train_y = arr_y[train_index]
    test_x = arr_x[test_index]
    test_y = arr_y[test_index]
    
    train_cts = train_x[:,:len(x_cts)]
    test_cts  = test_x[:,:len(x_cts)]
    
    x_min = train_cts.min(axis=0)
    x_max = train_cts.max(axis=0)
    
    train_x[:,:len(x_cts)] = (train_cts-x_min)/(x_max-x_min)
    test_x[:,:len(x_cts)] = (test_cts-x_min)/(x_max-x_min)
    
    print(f"{i}th iteration")
    print("train:", train_x.shape, train_y.shape, "check scale:", train_x.min(), train_x.max())
    print("test: ", test_x.shape, test_y.shape, "check scale:", test_x.min(), test_x.max())
    
    train_idx_list.append(train_index)
    train_x_list.append(train_x)
    train_y_list.append(train_y)
    
    test_idx_list.append(test_index)
    test_x_list.append(test_x)
    test_y_list.append(test_y)
    
    i += 1

1th iteration
train: (33011, 16) (33011, 1) check scale: 0.0 1.0
test:  (8253, 16) (8253, 1) check scale: -0.012024048096192367 1.124248496993988
2th iteration
train: (33011, 16) (33011, 1) check scale: 0.0 1.0
test:  (8253, 16) (8253, 1) check scale: 0.0 1.0173697270471465
3th iteration
train: (33011, 16) (33011, 1) check scale: 0.0 1.0
test:  (8253, 16) (8253, 1) check scale: -0.01669449081803005 1.0068027210884352
4th iteration
train: (33011, 16) (33011, 1) check scale: 0.0 1.0
test:  (8253, 16) (8253, 1) check scale: -0.010695187165775383 1.0
5th iteration
train: (33011, 16) (33011, 1) check scale: 0.0 1.0
test:  (8253, 16) (8253, 1) check scale: -0.004077471967380227 1.0
6th iteration
train: (33011, 16) (33011, 1) check scale: 0.0 1.0
test:  (8253, 16) (8253, 1) check scale: 0.0 1.1227722772277227
7th iteration
train: (33011, 16) (33011, 1) check scale: 0.0 1.0
test:  (8253, 16) (8253, 1) check scale: -0.01839464882943134 1.0068027210884352
8th iteration
train: (33011, 16) (33011, 1) check scale: 0.0 1.0
test:  (8253, 16) (8253, 1) check scale: -0.01669449081803005 1.0765027322404372
9th iteration
train: (33011, 16) (33011, 1) check scale: 0.0 1.0
test:  (8253, 16) (8253, 1) check scale: -0.001959137979289081 1.0134680134680134
10th iteration
train: (33011, 16) (33011, 1) check scale: 0.0 1.0
test:  (8253, 16) (8253, 1) check scale: -0.01669449081803005 1.0

In [7]:
## upsampling dataset 
import random
random_state = random_state

upsample_x_list, upsample_y_list = [], []
for train_x, train_y in zip(train_x_list, train_y_list):
    index_pos = np.where(train_y == 1)[0]
    index_neg = np.where(train_y == 0)[0]

    random.seed(random_state)
    up_index = [random.choice(index_pos) for _ in range(len(index_neg))] # get samples from positive sites as much as the number of negative sites

    upsample_pos_x = train_x[up_index]
    upsample_pos_y = train_y[up_index]
    sample_neg_x = train_x[index_neg]
    sample_neg_y = train_y[index_neg]

    sample_x = np.concatenate([upsample_pos_x, sample_neg_x], axis=0)
    sample_y = np.concatenate([upsample_pos_y, sample_neg_y], axis=0)

    shuffle_index = np.arange(len(sample_x))
    np.random.seed(random_state)
    np.random.shuffle(shuffle_index)
    sample_x = sample_x[shuffle_index]
    sample_y = sample_y[shuffle_index]
    
    upsample_x_list.append(sample_x)
    upsample_y_list.append(sample_y)

print("up-sampled train dataset:", sample_x.shape, sample_y.shape)
print("test dataset:", test_x.shape, test_y.shape)

up-sampled train dataset: (65188, 16) (65188, 1)
test dataset: (8253, 16) (8253, 1)

In [8]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.layers import *
from keras.models import Model
from keras.callbacks import ModelCheckpoint, EarlyStopping

def basicMLP(x_dim, y_dim, n_layers, n_neurons):
    mlp_input = Input(shape=(x_dim,), name='dense_input')
    
    # MLP module
    for i in range(n_layers):
        if i==0:
            dense_output = Dense(n_neurons, name=f"dense_{i+1}")(mlp_input)
        else: 
            dense_output = Dense(n_neurons, name=f"dense_{i+1}")(dense_output)
    mlp_output = Dense(y_dim, name=f"dense_output", activation='sigmoid')(dense_output)
    
    model = Model(mlp_input, mlp_output)
    optimizer = keras.optimizers.Adam(learning_rate = 0.001, beta_1=0.9, beta_2=0.999)
    model.compile(loss='binary_crossentropy',optimizer = optimizer, metrics=['accuracy'])
    
    return model

In [9]:
import matplotlib.pyplot as plt
from sklearn.metrics import confusion_matrix
from seaborn import heatmap
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

def scores(y_real, y_pred, rounding=4):
    
    accuracy  = 100*np.array(accuracy_score(y_real, y_pred)).round(rounding)
    precision = 100*np.array(precision_score(y_real, y_pred, average=None)).round(rounding)[1]
    recall    = 100*np.array(recall_score(y_real, y_pred, average=None)).round(rounding)[1]
    f1        = 100*np.array(f1_score(y_real, y_pred, average=None)).round(rounding)[1]
    
    return accuracy, precision, recall, f1

In [15]:
## hyper-parameter optimization
model_type = 'upsampled_MLP_without_window'

valid_size = test_size/(1-test_size)
patience = 30
monitor = 'val_loss'
random_state = random_state
early_stopping_cb = EarlyStopping(patience=patience, restore_best_weights=True, monitor=monitor)

parameter_config = {
    "n_layers" : range(1,20),
    "n_neurons" : range(1, 501)
}

method = "random"
counts = 100
metrics = ['time', 'n_layers', 'n_neurons', 'loss', 'val_loss', 'test_loss', 'accuracy', 'precision', 'recall', 'f1']


train_x = upsample_x_list[0]
train_y = upsample_y_list[0]
test_x = test_x_list[0]
test_y = test_y_list[0]

hpo_result = pd.DataFrame([], columns=metrics)
for i in range(counts):
    random.seed(i+1)
    n_layers = random.choice(parameter_config["n_layers"])
    n_neurons = random.choice(parameter_config["n_neurons"])
    print(f"random, {i+1} of {counts}: {n_layers} layers, {n_neurons} neurons")
    
    model_name = f'{version}_{model_type}_hpo_{i+1}of{counts}'
    save_path  = f'./model/{model_name}.h5'
    score_path = f"./score/{model_name}.csv"
    
    x_dim = train_x.shape[1]
    y_dim = train_y.shape[1]

    if not exists(save_path) or update:
        tf.random.set_seed(i+1)
        
        time_start = time.time()
        history = model.fit(train_x, train_y, verbose=2,
                            epochs=10000, callbacks=[early_stopping_cb], validation_split= valid_size)
        time_end = time.time()
        time_elapse = round((time_end - time_start)/60, 3)
        
        model.save_weights(save_path)
        print(f"model is saved to: {save_path}")
        
        idx = np.array(history.history[monitor]).argmin()
        val_loss = history.history['val_loss'][idx]
        loss = history.history['loss'][idx]
        test_loss = model.evaluate(test_x, test_y, verbose=0)[0]
        prediction = model.predict(test_x, verbose=0)
        prediction = prediction.round(0).astype(int)
        y_real = test_y
        y_pred = prediction
        accuracy, precision, recall, f1 = scores(y_real, y_pred)
        scores_df = pd.DataFrame([[time_elapse, n_layers, n_neurons, loss, val_loss, test_loss, accuracy, precision, recall, f1]], 
                                  columns=metrics)

        scores_df.to_csv(score_path)
        print(f"history is saved to: {score_path}")

    else:
        scores_df = pd.read_csv(score_path, index_col=0, header=0)
        print(f"history is loaded from: {score_path}")
        
    hpo_result = pd.concat([hpo_result, scores_df], axis=0)

hpo_result = hpo_result.reset_index(drop=True)

random, 1 of 5: 5 layers, 292 neurons
history is loaded from: ./score/v4_upsampled_MLP_without_window_hpo_1of5.csv
random, 2 of 5: 2 layers, 47 neurons
history is loaded from: ./score/v4_upsampled_MLP_without_window_hpo_2of5.csv
random, 3 of 5: 8 layers, 304 neurons
history is loaded from: ./score/v4_upsampled_MLP_without_window_hpo_3of5.csv
random, 4 of 5: 8 layers, 156 neurons
history is loaded from: ./score/v4_upsampled_MLP_without_window_hpo_4of5.csv
random, 5 of 5: 9 layers, 380 neurons
history is loaded from: ./score/v4_upsampled_MLP_without_window_hpo_5of5.csv

In [23]:
# show the HPO result
target_metric = 'f1'
best_idx = hpo_result[target_metric].argmax()
best_parameters = hpo_result.iloc[best_idx]
print(f'best hyperparamerter: index {best_idx}')
display(best_parameters)

display(hpo_result.describe())

best hyperparamerter: index 4

time            1.452
n_layers            9
n_neurons         380
loss         0.660999
val_loss     0.659564
test_loss    0.644467
accuracy         62.7
precision        1.75
recall          51.92
f1               3.39
Name: 4, dtype: object

,time,loss,val_loss,test_loss,accuracy,precision,recall,f1
count,5.0000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,1.7838,0.660957,0.659546,0.656381,60.580000,1.694000,53.076000,3.284000
std,0.8524,0.000081,0.000053,0.009054,1.584345,0.047223,1.256674,0.086197
min,1.0760,0.660838,0.659479,0.644467,59.010000,1.620000,51.920000,3.150000
25%,1.1380,0.660932,0.659504,0.649613,59.280000,1.690000,51.920000,3.280000
50%,1.4520,0.660958,0.659564,0.658674,60.210000,1.700000,52.880000,3.300000
75%,2.1480,0.660999,0.659586,0.664068,61.700000,1.710000,53.850000,3.300000
max,3.1050,0.661057,0.659599,0.665086,62.700000,1.750000,54.810000,3.390000

In [117]:
# bulid model
n_layers = best_parameters['n_layers']
n_neurons = best_parameters['n_neurons']

i=1
for train_x, train_y in zip(upsample_x_list, upsample_y_list):
    print(f"{i}th iteration")
    model_name = f'{version}_{model_type}_{n_layers}_{n_neurons}_cv_{i}of{n_splits}'
    save_path  = f'./model/{model_name}.h5'
    
    if not exists(save_path) or update:
        x_dim = train_x.shape[1]
        y_dim = train_y.shape[1]
        model = basicMLP(x_dim, y_dim, n_layers, n_neurons)

        if not exists(save_path) or update:
            tf.random.set_seed(random_state)
            history = model.fit(train_x, train_y, verbose=0,
                                epochs=10000, callbacks=[early_stopping_cb], validation_split= valid_size)
            model.save_weights(save_path)
            print(f"model is saved to: {save_path}")
    else:
        print(f"model already exists at: {save_path}")
    i += 1
display(model.summary())

1th iteration
model is saved to: ./model/v4_upsampled_MLP_without_window_3_100_cv_1of10.h5
2th iteration
model is saved to: ./model/v4_upsampled_MLP_without_window_3_100_cv_2of10.h5
3th iteration
model is saved to: ./model/v4_upsampled_MLP_without_window_3_100_cv_3of10.h5
4th iteration
model is saved to: ./model/v4_upsampled_MLP_without_window_3_100_cv_4of10.h5
5th iteration
model is saved to: ./model/v4_upsampled_MLP_without_window_3_100_cv_5of10.h5
6th iteration
model is saved to: ./model/v4_upsampled_MLP_without_window_3_100_cv_6of10.h5
7th iteration
model is saved to: ./model/v4_upsampled_MLP_without_window_3_100_cv_7of10.h5
8th iteration
model is saved to: ./model/v4_upsampled_MLP_without_window_3_100_cv_8of10.h5
9th iteration
model is saved to: ./model/v4_upsampled_MLP_without_window_3_100_cv_9of10.h5
10th iteration
model is saved to: ./model/v4_upsampled_MLP_without_window_3_100_cv_10of10.h5
Model: "model_14"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_input (InputLayer)    [(None, 16)]              0

 dense_1 (Dense)             (None, 100)               1700

 dense_2 (Dense)             (None, 100)               10100

 dense_3 (Dense)             (None, 100)               10100

 dense_output (Dense)        (None, 1)                 101

=================================================================
Total params: 22,001
Trainable params: 22,001
Non-trainable params: 0
_________________________________________________________________

None

In [131]:
# evaluate the trained model
i=1
accuracy_list, precision_list, recall_list, f1_list = [], [], [], []
for test_x, test_y in zip(test_x_list, test_y_list):
    model_name = f'{version}_{model_type}_{n_layers}_{n_neurons}_cv_{i}of{n_splits}'
    save_path  = f'./model/{model_name}.h5'
    
    model = basicMLP(x_dim, y_dim, n_layers, n_neurons)
    model.load_weights(save_path)
    
    prediction = model.predict(test_x, verbose=0)
    prediction = prediction.round(0).astype(int)

    y_real = test_y
    y_pred = prediction
    
    accuracy  = 100*np.array(accuracy_score(y_real, y_pred)).round(4)
    precision = 100*np.array(precision_score(y_real, y_pred, average=None)).round(4)[1]
    recall    = 100*np.array(recall_score(y_real, y_pred, average=None)).round(4)[1]
    f1        = 100*np.array(f1_score(y_real, y_pred, average=None)).round(4)[1]
    
    accuracy_list.append(accuracy)
    precision_list.append(precision)
    recall_list.append(recall)
    f1_list.append(f1)
    
accuracies = np.array(accuracy_list)
precisions = np.array(precision_list)
recalls = np.array(recall_list)
f1s = np.array(f1_list)

results = pd.DataFrame(np.array([accuracies, precisions, recalls, f1s]).T, columns=['accuracy', 'precision', 'recall', 'f1-score'])
results.describe()

        accuracy  precision     recall  f1-score
count  10.000000  10.000000  10.000000  10.00000
mean   59.403000   1.831000  59.232000   3.54800
std     1.337037   0.131356   4.033889   0.25516
min    57.620000   1.680000  53.850000   3.25000
25%    58.360000   1.712500  56.970000   3.31500
50%    59.465000   1.825000  58.655000   3.54000
75%    59.885000   1.907500  60.340000   3.69500
max    62.200000   2.070000  68.270000   4.01000